<div style="padding: 18px 0px 0px 12px;">
  <h3 class="text-center" style="font-weight: 500;">Where do you want to go?</h3>
</div>

<mat-dialog-content class="mat-typography">

  <mat-tab-group>

    <mat-tab label="Inside City">
  
      <div class="mat-mdc-tab-body-content">
        <div class="example-small-box">
          <div class="row mt-3">
    
            <div class="col-sm-12 col-md-4">
              <div class="mb-3">
                <label class="form-label">Select City</label>
                <select [(ngModel)]="selectDistricts" (change)="loadUpozila()" class="form-select">
                  <option *ngFor="let district of districts" [value]="district._id"> {{district.name}} </option>
                </select>
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Moving From</label>
                <select [(ngModel)]="move_from" class="form-select">
                  <option value="" selected disabled>Move From</option>
                  <option *ngFor="let area of areas" [value]="area.name"> {{area.name}}  </option>
                </select>
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Moving To</label>
                <select [(ngModel)]="move_to" class="form-select">
                  <option value="" selected disabled>Move To</option>
                  <option *ngFor="let area of areas" [value]="area.name"> {{area.name}}  </option>
                </select>
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Trip type</label>
                <select [(ngModel)]="Trip_type" class="form-select">
                  <option value="One way"> One way </option>
                  <option value="Round way"> Round way </option>
                </select>
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label"> Car Quality </label>
                <select [(ngModel)]="car_type" class="form-select">
                  <option value="Premium">Premium</option>
                  <option value="Standard"> Standard </option>
                </select>
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">No. of Person</label>
                <input [(ngModel)]="passengers" placeholder="person" class="form-control" type="text">
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Travelling Date:</label>
                <input [(ngModel)]="trip_date" placeholder="date" class="form-control" type="date">
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input [(ngModel)]="name" placeholder="Name" class="form-control" type="text">
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input [(ngModel)]="phone" placeholder="Number"  class="form-control" type="text">
              </div>
            </div>

            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Description / Notes</label>
                <textarea [(ngModel)]="description" placeholder="description" class="form-control" rows="2"></textarea>
              </div>
            </div>
            
            <mat-progress-bar *ngIf="isProcessing" class="mt-2 mb-2" mode="indeterminate"></mat-progress-bar>
    
            <div class="d-flex">
              <button (click)="saveWc()" mat-raised-button color="primary">Check Prices</button>
              <button (click)="close()" class="ms-2" mat-raised-button color="warn">Close</button>
            </div>
    
          </div>
        </div>
      </div>
  
    </mat-tab>
    
    <mat-tab label="Outside City">
  
      <div class="mat-mdc-tab-body-content">
        <div class="example-small-box">
          <div class="row mt-3">

            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Moving From</label>
                <select [(ngModel)]="ocMove_from" class="form-select">
                  <option *ngFor="let district of districts"> {{district.name}} </option>
                </select>
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Moving To</label>
                <select [(ngModel)]="ocMove_to" class="form-select">
                  <option *ngFor="let district of districts"> {{district.name}} </option>
                </select>
              </div>
            </div>
    
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Trip type</label>
                <select [(ngModel)]="ocTrip_type" class="form-select">
                  <option value="One way"> One way </option>
                  <option value="Round way"> Round way </option>
                </select>
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label"> Car Quality </label>
                <select [(ngModel)]="ocCar_type" class="form-select">
                  <option value="Premium">Premium</option>
                  <option value="Standard"> Standard </option>
                </select>
              </div>
            </div>
    
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">No. of Person</label>
                <input [(ngModel)]="ocPassengers" placeholder="person" class="form-control" type="text">
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="mb-3">
                <label class="form-label">Travelling Date:</label>
                <input [(ngModel)]="ocTrip_date" placeholder="date" class="form-control" type="date">
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input [(ngModel)]="ocName" class="form-control" type="text">
              </div>
            </div>
            
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input [(ngModel)]="ocPhone" class="form-control" type="text">
              </div>
            </div>
    
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea [(ngModel)]="ocDescription" class="form-control" rows="2"></textarea>
              </div>
            </div>
          
            <mat-progress-bar *ngIf="isProcessing" class="mt-2 mb-2" mode="indeterminate"></mat-progress-bar>
            
            <div class="d-flex">
              <button (click)="saveOC()" mat-raised-button color="primary">Check Prices</button>
              <button (click)="close()" class="ms-2" mat-raised-button color="warn">Close</button>
            </div>
    
          </div>
        </div>
      </div>
      
    </mat-tab>
  
  </mat-tab-group>

</mat-dialog-content>


