<app-header></app-header>

<div class="shifting-service">

    <div class="p-3" style="background-color: #f4f5f8;">
        <div class="container">
            <span routerLink="/home" style="cursor: pointer;">
                <img style="width: 23px;" src="./assets/image/previous.svg" alt="">
            </span>
            <span style="margin-left: 10px;"> <b>Smart Rent A Car Service</b></span>
        </div>
    </div>

</div>


<div class="container">

    <div class="row">

        <h5 class="mt-3 title_service">Select the type of Car</h5>

        <ul class="service-list">

            <li class="mb-3">

                <div class="box d-flex align-items-center">

                    <div class="image">
                        <img src="https://bdassistant.com/assets/image/home-icon/rentacar.png" alt=""> 
                    </div>
                    
                    <div class="w-75 ms-3 text-content">
                        <p class="m-0 fw-bold"> service.title </p>
                        <p class="m-0 description"> Description </p>
                    </div>

                    <div class="getQuote w-25">
                        <button mat-raised-button color="accent">Get Quote</button>
                    </div>

                </div>

            </li>

       </ul>

    </div>

</div>