<app-header></app-header>

<!-- main section -->
<div class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <!-- service title -->
                <div class="service-area py-5">
                    <div class="service-title">
                        <h1 class="text-center" style="color: #2c4964;">Find Your Next Home</h1>
                        <h2 class="text-center">Select Your Property Category</h2>
                    </div>
                </div>

                <!-- service-box -->
                <div class="service-box">
                    <div class="row">
                        <div class="col-xl-2 col-sm-4 col-4 mt-sm-2 click-view">
                            <div class="box-item mt-2">
                                <img class="s-img" src="https://res.cloudinary.com/bdassistant/image/upload/v1611732578/Main%20Category%20Icon/family_tbgam5.png" alt="Family Home">
                                <p class="title-service">Family</p>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-sm-4 mt-sm-2 col-4 click-view">
                            <div class="box-item mt-2">
                                <img class="s-img" src="https://res.cloudinary.com/bdassistant/image/upload/v1611732578/Main%20Category%20Icon/bachelor_xsgn8m.png" alt="Family Home">
                                <p class="title-service">Bachelor</p>
                            </div>
                        </div>

                        <div class="col-xl-2 col-sm-4 mt-sm-2 col-4 click-view">
                            <div class="box-item mt-2">
                                <img class="s-img" src="../assets/images/officeSpace.svg" alt="OfficeSpace">
                                <p class="title-service">OfficeSpace</p>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-sm-4 mt-sm-2 col-4 click-view">
                            <div class="box-item mt-2">
                                <img class="s-img" src="https://res.cloudinary.com/bdassistant/image/upload/v1611732578/Main%20Category%20Icon/office_qgpmpb.png" alt="OfficeSpace">
                                <p class="title-service">Mess/Hostel</p>
                            </div>
                        </div>
                        
                        <div class="col-xl-2 col-sm-4 mt-sm-2 col-4 click-view">
                            <div class="box-item mt-2">
                                <img class="s-img" src="../assets/images/sublet.svg" alt="Family Home">
                                <p class="title-service">Sublet</p>
                            </div>
                        </div>
            
                        <div class="col-xl-2 col-sm-4 mt-sm-2 col-4 click-view">
                            <div class="box-item mt-2">
                                <img class="s-img" src="../assets/images/For sale.png" alt="Family Home">
                                <p class="title-service">Flat4Sale</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Property Faq -->
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="proerty-faqContent">
                <h1>Are you a Property Owner</h1>
                <a class="btn btn-primary mt-1">POST FREE PROPERTY AD</a>
            </div>
        </div>
    </div>
</div>
