<app-header></app-header>

<!-- SERVICE AREA START -->
<section class="service-area-sc bg-white py-5">
    <div class="container">
        <div class="service-content-warper">
            <div class="row">
                <!-- section title -->
                <h2 class="title_service">Services</h2>
                
                <!-- service single -->
                <div class="col-4 col-xl-2 mt-4">
                    <a routerLink="/rentals" class="service-content-cart">
                        <div class="img-content">
                            <img class="" src="https://bdassistant.com/assets/image/home-icon/rentals.png" alt="Rentals">
                        </div>
                        <div class="text-center px-2 text">
                            Rentals
                        </div>
                    </a>
                </div>
                
                <div class="col-4 col-xl-2 mt-4">
                    <a routerLink="/shifting" class="service-content-cart">
                        <div class="img-content">
                            <img class="ms-2" src="https://bdassistant.com/assets/image/home-icon/shifting.png" alt="Shifting">
                        </div>
                        <div class="text-center px-2 text">
                            Shifting
                        </div>
                    </a>
                </div>
                <div class="col-4 col-xl-2 mt-4">
                    <a routerLink="/products/technician-service"  class="service-content-cart">
                        <div class="img-content">
                            <img class="" src="https://bdassistant.com/assets/image/home-icon/technician.png" alt="technician">
                        </div>
                        <div class="text-center px-2 text">
                            Technician
                        </div>
                    </a>
                </div>
                <div class="col-4 col-xl-2 mt-4">
                    <a routerLink="/products/pure-milk"  class="service-content-cart">
                        <div class="img-content">
                            <img class="" src="https://bdassistant.com/assets/image/home-icon/milk.png" alt="milk">
                        </div>
                        <div class="text-center px-2 text">
                            PureMilk
                        </div>
                    </a>
                </div>
                <div class="col-4 col-xl-2 mt-4">
                    <a routerLink="/products/gas" class="service-content-cart">
                        <div class="img-content">
                            <img class="" src="https://bdassistant.com/assets/image/home-icon/gas.png" alt="technician">
                        </div>
                        <div class="text-center px-2 text">
                            Gas
                        </div>
                    </a>
                </div>
                <div class="col-4 col-xl-2 mt-4">
                    <a routerLink="/rent" class="service-content-cart">
                        <div class="img-content">
                            <img class="" src="https://bdassistant.com/assets/image/home-icon/rentacar.png" alt="Village">
                        </div>
                        <div class="text-center px-2 text">
                            Rent-A-Car
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>